@import "_form.scss";
@import "_table.scss";


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

$font: 'Poppins', sans-serif;

@mixin layout($align) {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: $align;
}


body {
   font-family: $font;
   min-height: 100vh;
   display: grid;
   place-content: center;
   align-items: center;
   justify-items: center;
   background-repeat: no-repeat;
   background-image: radial-gradient(circle 975px at 2.6% 48.3%, rgba(0, 8, 120, 1) 0%, rgba(95, 184, 224, 1) 99.7%);
}

main {
   width: 800px;
   height: 580px;

   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 80px 420px auto;
   grid-template-areas: "title title"
      "form table"
      "link link";

   background: rgb(255, 255, 255);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border: 1px solid rgba(255, 255, 255, 0.3);

   h1 {
      @include layout($align: center);
      grid-area: title;
      border-bottom: 1px solid #d9d9d9;
      color: rgb(41, 41, 41);
   }
}

.btn-info {
   @include layout($align: flex-end);
   border-top: 1px solid #d9d9d9;
   padding: 10px;
   grid-area: link;


   a {
      @include layout($align: center);
      width: 180px;
      height: 50px;

      background-color: #262626;
      border-radius: 6px;
      font-size: 20px;
      text-decoration: none;
      color: rgb(255, 255, 255);
      transition: all 0.5s;
   }

   a:hover {
      border: 1px solid black;
      background-color: white;
      color: #000000;
   }
}

@media (max-width: 825px) {
   main {
      margin: 10px;
      width: 70vw;
      min-width: 400px;
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: 80px 420px auto auto;
      grid-template-areas: "title"
         "form"
         "table"
         "link";
   }

   form {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid #d9d9d9;
   }
   .input {
      width: 100%;
   }

   input[type="button"] {
      margin: auto;
   }

   a {
      width: 300px;
   }
   #alert-camp-name {
      top: 33%;
   }
   
   #alert-camp-value {
      @extend #alert-camp-name;
      top: calc(33% + 108px);
   }
}

@media (max-width: 677px) {
   main {
      width: 50vw;
   }

   h1 {
      width: auto;
      font-size: 28px;
   }

   form {
      width: 399px;
   }

   a {
      width: 250px;
   }
}

@media (min-width: 320px) and (max-width: 480px) {
   main {
      min-width: 350px;
      grid-template-rows: 80px 400px auto auto;
   }
   .btn-info {
      width: 350px;
   }
   form {
      width: 349px;
      height: 400px;
      padding: 15px;
   }
   table {
      width: 250px;
   }

   a {
      width: 180px;
   }

}